body {min-height: 1300px;}

main {
  margin: 0 30px;
  margin-top: 110px;
}

.confirmed {
  color: rgb(43, 176, 43);
  font-size: 28px;
  margin-bottom: 8px;
  /* font-weight: bold; */
}

.completed {font-size: 20px;}

.checkmark-icon {
  height: 60px;
  margin-top: 10px;
}

section {margin-top: 34px;}

.section-title {
  font-size: 35px;
  margin-bottom: 15px;
}

.section-card {
  background-color: rgb(226, 232, 238);
  padding: 4px 21px;
  border-radius: 15px;
  border: 1px solid rgb(210, 216, 221);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
}

.section-card p {
  font-size: 23px;
  margin: 10px 0;
}

.section-card span {font-weight: bold;}

.bottom-section a {
  margin-bottom: 15px;
  display: block;
  width: fit-content;
  color: rgb(1, 124, 182);
}

.bottom-section p {margin-bottom: 10px;overflow-wrap: break-word;}
.bottom-section {font-size: 24px;}

@media (max-width: 960px) {
  body {min-height: 1600px;}
}

@media (max-width: 452px) {
  .section-card p {font-size: 17px}
  .section-title {font-size: 25px;margin-bottom: 9px;}
}

@media (max-width: 342px) {
  .confirmed {font-size: 24px;}
  main {
    margin: 0 13px;
    margin-top: 110px;
  }
}